section.quote_section {
    .quote-wrap {
        max-width: 1280px;
        margin: 0px auto;
        padding: 55px 19px;
        @media(min-width: 768px) {
            padding: 86px 90px;
        }
        @media(min-width: 992px) {
            padding: 70px 250px;
        }
        @include display-flex();
        @include justify-content(center);
        @include align-items(center);
        //background-color: blue;
        .app-quote {
            color: white;
            letter-spacing: 1px;
            line-height: 24px;
            font-weight: 300;
            font-size: 15px;
            text-align: center;
            @media(min-width: 768px) {
                letter-spacing: 0px;
                line-height: 31px;
                //  font-weight: 500;
                font-size: 21px;
            }
            @media(min-width: 992px) {
                line-height: 32px;
                font-size: 24px;
            }
            p {
                margin: 0px;
            }
            .author-quote {
                margin-top: 25px;
                p {
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 20px;
                    @media (min-width: 768px) {
                        font-size: 15px;
                    }
                }
                .forename-surname {
                    @include display-flex();
                    @include justify-content(center);
                    p {
                        font-weight: 300;
                        @media (min-width: 768px) {
                            font-size: 16px;
                        }
                        &:first-child {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}