body.error404 {
    height: 100%;
    background-color: $color_8;
    @media (min-width: 992px) {
        background-color: initial;
    }
    #page-wrap {
        @media (min-width: 768px) {
            background-image: none;
        }
        @media (min-width: 992px) {
            background-image: url('../images/background-login.png');
            background-size: cover;
            background-repeat: no-repeat;
            padding-bottom: 235px;
        }
        header {
            display: none;
        }
        div.content404 {
            margin-top: 80px;
            @media (min-width: 768px) {
                margin-top: 143px;
            }
            img {
                max-width: 200px;
                height: auto;
                @media (min-width: 768px) {
                    max-width: 350px;
                }
            }
            h1 {
                font-family: 'Open Sans', sans-serif;
                color: $color_9;
                font-size: 25px;
                margin-top: 40px;
                @media (min-width: 768px) {
                    font-size: 32px;
                    letter-spacing: -0.8px;
                    margin-bottom: 0;
                    margin-top: 80px;
                }
                @media (min-width: 992px) {
                    font-size: 37px;
                    letter-spacing: -0.4px;
                }
            }
            h2 {
                font-family: 'Open Sans', sans-serif;
                color: $color_10;
                margin-top: 10px;
                font-size: 35px;
                font-weight: 300;
                letter-spacing: -0.8px;
                line-height: 1.15;
                @media (min-width: 768px) {
                    font-size: 45px;
                    line-height: 1.1;
                    letter-spacing: -0.7px;
                }
                @media (min-width: 992px) {
                    font-size: 53px;
                    margin-top: 5px;
                    letter-spacing: -0.7px;
                }
            }
            p {
                font-size: 16px;
                font-weight: 300;
                color: $color_11;
                line-height: 1.4;
                letter-spacing: -0.44px;
                margin-top: 19px;
                color: $color_11;
                @media (min-width: 768px) {
                    line-height: 1.48;
                    letter-spacing: 0.13px;
                    margin-top: 16px;
                }
                a {
                    margin-top: 37px;
                    color: $color_9;
                    @media (min-width: 768px) {
                        letter-spacing: 0.18px;
                    }
                }
            }
        }
    }
}