body.page-template-template-about {
    #page-wrap {
        background-image: url('../images/background-mobile.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right top;
        @media (min-width: 768px) {
            background-image: url('../images/background-login.png');
            background-color: initial;
        }
    }
    h1 {
        font-family: 'Open Sans', sans-serif;
        color: $color_5;
        font-size: 20px;
        letter-spacing: -0.4px;
        margin: 0px;
        @media (min-width: 768px) {
            font-size: 34px;
            letter-spacing: -0.8px;
            margin-bottom: 0;
        }
        @media (min-width: 1200px) {
            font-size: 36px;
            line-height: 33px;
        }
    }
    h2 {
        font-family: 'Open Sans', sans-serif;
        color: $color_6;
        margin-top: 6px;
        margin-bottom: 7px;
        font-size: 23px;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 1.25;
        @media (min-width: 768px) {
            font-size: 47px;
            line-height: 1.1;
            margin-top: 11px;
            letter-spacing: -0.1px;
        }
        @media (min-width: 1200px) {
            font-size: 55px;
            margin-top: 10px;
            letter-spacing: -2px;
            word-spacing: 4px;
        }
    }
    .about-text {
        margin-bottom: 41px;
        @media (min-width: 768px) {
            margin-top: 13px;
            margin-bottom: 0px;
        }
        @media (min-width: 1200px) {
            margin-top: 12px;
            margin-bottom: 19px;
        }
        p {
            font-size: 14px;
            font-weight: 300;
            color: $color_7;
            line-height: 1.45;
            @media (min-width: 768px) {
                line-height: 1.55;
                letter-spacing: 0.45px;
                margin-bottom: 14px;
                font-size: 16px;
            }
            @media (min-width: 1200px) {
                line-height: 25px;
            }
            strong {
                letter-spacing: -0.25px;
                @media (min-width: 768px) {
                    letter-spacing: 0.2px;
                }
            }
        }
    }
    .team {
        @include display-flex();
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 48px;
        max-width: 985px;
        @media (min-width: 768px) {
            margin-bottom: 75px;
        }
        @media (min-width: 1200px) {
            margin-bottom: 78px;
        }
    }
    .team-member {
        display: inline-block;
        padding: 0px 15px;
        flex: 1 0 50%;
        margin-bottom: 25px;
        @media (min-width: 768px) {
            margin-top: 49px;
            flex: 1 0 25%;
        }
        .image-container {
            position: relative;
            max-width: 140px;
            @media (min-width: 768px) {
                max-width: 148px;
            }
            &:hover {
                .overlay {
                    opacity: 1;
                }
            }
            img {
                width: 100%;
                height: auto;
            }
            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background: $color_7;
                background: -webkit-linear-gradient(top left, $color_7, $color_5);
                background: -o-linear-gradient(top right, $color_7, $color_5);
                background: -moz-linear-gradient(top right, $color_7, $color_5);
                background: linear-gradient(to top right, $color_7, $color_5);
                @include display-flex();
                @include justify-content(center);
                @include align-items (center);
                img {
                    position: relative;
                    max-width: 40px;
                }
            }
        }
        p.team-member-role {
            font-size: 11px;
            font-weight: 700;
            color: $color_5;
            margin-top: 10px;
            margin-bottom: 0;
            letter-spacing: -0.6px;
            word-spacing: 2px;
            @media (min-width: 768px) {
                margin-top: 20px;
                font-size: 13px;
            }
            @media (min-width: 1200px) {
                letter-spacing: 0.9px;
            }
        }
        p.team-member-name {
            color: $color_6;
            margin-bottom: 0;
            font-size: 16px;
            @media (min-width: 768px) {
                letter-spacing: 1.1px;
                font-size: 18px;
            }
            @media (min-width: 1200px) {
                font-size: 22px;
                line-height: 37px;
            }
        }
        .social {
            margin-top: 5px;
            @media (min-width: 768px) {
                margin-top: 8px;
            }
            @media (min-width: 1200px) {
                margin-top: 0;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            li {
                display: inline;
                a {
                    color: $color_7;
                    font-size: 20px;
                    @media (min-width: 768px) {
                        font-size: 24px;
                    }
                    @media (min-width: 1200px) {
                        font-size: 20px;
                    }
                    i.fa.fa-envelope-o {
                        font-size: 16px;
                        @media (min-width: 768px) {
                            font-size: 20px;
                        }
                        @media (min-width: 1200px) {
                            font-size: 16px;
                        }
                    }
                }
            }
            li:not(:first-child) {
                margin-left: 20px;
                @media (min-width: 768px) {
                    margin-left: 24px;
                }
                @media (min-width: 992px) {
                    margin-left: 16px;
                }
            }
        }
        &.solo {
            display: none;
            position: relative;
            margin-top: initial;
            padding-left: initial;
            padding-right: initial;
            margin-bottom: 67px;
            @media (min-width: 768px) {
                margin-top: initial;
                margin-bottom: 182px;
            }
            @media (min-width: 992px) {
                margin-bottom: 127px;
            }
            .close-button-team {
                display: inline-block;
                background: $color_7;
                background: -webkit-linear-gradient(top left, $color_7, $color_5);
                background: -o-linear-gradient(top right, $color_7, $color_5);
                background: -moz-linear-gradient(top right, $color_7, $color_5);
                background: linear-gradient(to top right, $color_7, $color_5);
                position: absolute;
                right: 0;
                @include display-flex();
                color: white;
                height: 32px;
                width: 32px;
                font-size: 20px;
                &:hover,
                &:focus {
                    text-decoration: none;
                }
                @media (min-width: 768px) {
                    height: 50px;
                    width: 50px;
                    font-size: 26px;
                }
                i {
                    align-self: center;
                    text-align: center;
                    flex-grow: 1;
                }
            }
            img {
                width: 100%;
                height: auto;
                max-width: 140px;
                @media (min-width: 768px) {
                    max-width: 150px;
                }
                @media (min-width: 992px) {
                    max-width: 200px;
                }
            }
            p.team-member-role {
                margin-top: 23px;
                font-size: 24px;
                font-weight: 400;
                @media (min-width: 768px) {
                    margin-top: 18px;
                    font-size: 33px;
                }
                @media (min-width: 768px) {
                    margin-top: 26px;
                    font-size: 37px;
                }
            }
            .social-container {
                position: relative;
                max-width: 620px;
            }
            p.team-member-name {
                margin-top: initial;
                font-size: 26px;
                font-weight: 300;
                @media (min-width: 768px) {
                    font-size: 45px;
                }
                @media (min-width: 992px) {
                    font-size: 51px;
                }
            }
            .social {
                margin-top: 7px;
                @media (min-width: 768px) {
                    margin-top: initial;
                    position: absolute;
                    right: 0;
                    bottom: 8px;
                }
                li:not(:first-child) {
                    margin-left: 30px;
                }
            }
            .team-member-description {
                margin-top: 16px;
                font-size: 16px;
                font-weight: 300;
                color: $color_7;
                line-height: 1.45;
                max-width: 620px;
                @media (min-width: 768px) {
                    margin-top: 8px;
                    font-size: 18px;
                    letter-spacing: -0.4px;
                }
                @media (min-width: 992px) {
                    margin-top: 29px;
                }
            }
        }
    }
}