body.page-template-template-blog,
body.category {
    #content-wrap {
        background-color: $color_8;
    }
    .the-content {
        .container-title-blog-filter-posts {
            @include display-flex();
            @include justify-content(space-between);
            @include align-items(center);
            margin-right: -13px;
            margin-left: -13px;
            margin-bottom: 12px;
            @media (min-width: 768px) {
                margin-bottom: 5px;
            }
            @media (min-width: 992px) {
                margin-bottom: 30px;
            }
            .title-blog {
                padding: 0px 13px;
                flex: 1 0 40%;
                max-width: 60%;
                @media (min-width: 768px) {
                    flex: 1 0 66.67%;
                    max-width: 66.67%;
                }
                @media (min-width: 992px) {
                    flex: 1 0 75%;
                    max-width: 75%;
                }
                h2 {
                    text-transform: lowercase;
                    color: $color_5;
                    font-size: 19px;
                    margin: 0px;
                    @media (min-width: 768px) {
                        font-size: 33px;
                    }
                }
            }
            .container-template-filter-posts {
                padding: 0 13px;
                flex: 1 0 60%;
                max-width: 60%;
                @media (min-width: 768px) {
                    flex: 1 0 33.33%;
                    max-width: 33.33%;
                }
                @media (min-width: 992px) {
                    flex: 1 0 25%;
                    max-width: 25%;
                }
                .filter-posts {
                    .navbar-collapse.in {
                        overflow-y: visible;
                    }
                    #myNavCat {
                        padding: 0px;
                        ul.navbar-nav {
                            width: 100%;
                            position: relative;
                            margin: 0px;
                            img {
                                max-width: 18px;
                                position: absolute;
                                z-index: 1;
                                top: 14px;
                                left: 11px;
                                @media (min-width: 768px) {
                                    max-width: 25px;
                                    top: 15px;
                                    left: 20px;
                                }
                                @media (min-width: 992px) {
                                    left: 5px;
                                }
                                @media (min-width: 1200px) {
                                    left: 40px;
                                }
                            }
                            .cat-item-slide-toggle {
                                float: none;
                                cursor: pointer;
                                background-color: #fff;
                                color: $color_7;
                                font-size: 12px;
                                font-weight: 800;
                                position: relative;
                                padding: 14px 0px 14px 34px;
                                @media (min-width: 768px) {
                                    padding: 18px 0px 18px 49px;
                                    font-size: 16px;
                                }
                                @media (min-width: 992px) {
                                    padding: 18px 0px 18px 35px;
                                }
                                @media (min-width: 1200px) {
                                    padding: 18px 0px 18px 73px;
                                }
                                &:after {
                                    content: 'blogs';
                                    margin-left: 3px;
                                }
                            }
                            ul.list-categories {
                                background-color: #fff;
                                position: absolute;
                                z-index: 1;
                                width: 100%;
                                padding-left: 34px;
                                padding-bottom: 9px;
                                @media (min-width: 768px) {
                                    padding-left: 49px;
                                }
                                @media (min-width: 992px) {
                                    padding-left: 35px;
                                }
                                @media (min-width: 1200px) {
                                    padding-left: 73px;
                                }
                                li.cat-item {
                                    list-style: none;
                                    font-size: 16px;
                                    line-height: 16px;
                                    padding: 5px 0px;
                                    @media (min-width: 768px) {
                                        padding: 9px 0px;
                                    }
                                    a {
                                        color: $color_7;
                                        font-weight: 800;
                                        text-decoration: none;
                                        font-size: 12px;
                                        line-height: 12px;
                                        @media (min-width: 768px) {
                                            font-size: 16px;
                                            line-height: 16px;
                                        }
                                        &:after {
                                            content: 'blogs';
                                            margin-left: 3px;
                                        }
                                        &:hover {
                                            color: $color_5;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // This part of the layout has removed
        .subtitle-blog {
            margin: 5px 0px;
            @media (min-width: 768px) {
                margin: 5px 0px 13px 0px;
            }
            @media (min-width: 1200px) {
                max-width: 500px;
                width: 100%;
                margin-top: 7px;
                margin-bottom: 18px;
            }
            h3 {
                margin: 0px;
                font-size: 23px;
                line-height: 30px;
                font-weight: 300;
                color: $color_6;
                @media (min-width: 768px) {
                    font-size: 47px;
                    line-height: 56px;
                }
                @media (min-width: 1200px) {
                    font-size: 53px;
                    line-height: 60px;
                }
            }
        }
        .description-blog {
            margin-bottom: 44px;
            @media (min-width: 768px) {
                margin-bottom: 46px;
            }
            @media (min-width: 1200px) {
                margin-bottom: 70px;
            }
            p {
                font-size: 14px;
                color: $color_7;
                @media (min-width: 768px) {
                    font-size: 17px;
                }
            }
        } // End to this part of the layout has removed
        .container-blog-post {
            margin-bottom: 67px;
            @media (min-width: 768px) {
                margin-left: -13px;
                margin-right: -13px;
                margin-bottom: 64px;
                @include display-flex();
                @include justify-content(flex-start);
                @include flex-wrap (wrap);
            }
            @media (min-width: 992px) {
                margin-bottom: 98px;
            }
            .post {
                margin-top: 15px;
                &:first-child {
                    margin-top: 0px;
                    @media (min-width: 768px) {
                        margin-top: 15px;
                    }
                }
                @media (min-width: 768px) {
                    padding: 0px 13px;
                    flex: 1 0 33.3333%;
                    max-width: 33.3333%;
                }
                @media (min-width: 992px) {
                    flex: 1 0 25%;
                    max-width: 25%;
                }
                .thumbnail {
                    margin: 0px;
                    padding: 0px;
                    border: none;
                    position: relative;
                    .overlay {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        transition: .5s ease;
                        background: $color_7;
                        background: -webkit-linear-gradient(left, $color_7, $color_5);
                        background: -o-linear-gradient(right, $color_7, $color_5);
                        background: -moz-linear-gradient(right, $color_7, $color_5);
                        background: linear-gradient(to right, $color_7, $color_5);
                        @include display-flex();
                        @include justify-content(center);
                        @include align-items (center);
                        img {
                            position: relative;
                            max-width: 40px;
                        }
                    }
                    &:hover {
                        .overlay {
                            cursor: pointer;
                            opacity: 1;
                        }
                    }
                }
                .category {
                    height: 55px;
                    padding: 0px 15px;
                    @include display-flex();
                    @include align-items(center);
                    @media (min-width: 768px) {
                        height: 60px;
                        padding: 0px 20px;
                    }
                    .icon-circle-apply4 {
                        img {
                            max-width: 36px;
                            width: 100%;
                            height: auto;
                            @media (min-width: 768px) {
                                max-width: 40px;
                            }
                        }
                    }
                    .category-name {
                        margin-left: 15px;
                        @media (min-width: 768px) {
                            margin-left: 18px;
                        }
                        @media (min-width: 1200px) {
                            margin-left: 21px;
                        }
                        p {
                            color: #fff;
                            font-size: 16px;
                            font-weight: 600;
                            margin: 0px;
                            @media (min-width: 768px) {
                                font-size: 20px;
                            }
                            @media (min-width: 1200px) {
                                font-size: 24px;
                            }
                        }
                    }
                }
                .date-content-post {
                    background-color: #fff;
                    padding: 19px 15px;
                    @media (min-width: 768px) {
                        padding: 23px 17px;
                    }
                    @media (min-width: 1200px) {
                        padding: 25px 20px;
                    }
                    .date {
                        color: $color_5;
                        margin: 0px 0px 5px 0px;
                        font-size: 13px;
                        font-weight: 600;
                        letter-spacing: -0.6px;
                        @media (min-width: 768px) {
                            font-size: 17px;
                        }
                    }
                    .content-post {
                        color: $color_6;
                        font-size: 19px;
                        line-height: 23px;
                        letter-spacing: -0.6px;
                        @media (min-width: 768px) {
                            font-size: 21px;
                            line-height: 25px;
                        }
                        @media (min-width: 1200px) {
                            font-size: 25px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
        .blog-pagination {
            display: none;
            // @include display-flex();
            // @include justify-content(center);
            margin: 40px 0px;
            .page-numbers {
                text-decoration: none;
                border: 1px solid $color_5;
                padding: 6px 12px;
                color: $color_7;
                &:first-child {
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                }
                &:last-child {
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                }
                &.current {
                    background-color: $color_5;
                    color: #fff;
                    &:hover {
                        opacity: 1;
                    }
                }
                &:hover {
                    background-color: $color_5;
                    color: #fff;
                    opacity: 0.7;
                }
            }
        }
    }
}