body {
    &,
    h1,
    h2,
    h3,
    h4,
    span,
    p,
    a,
    label,
    ul,
    li {
        font-family: 'Open Sans', sans-serif;
    }
    a,
    button,
    a:hover {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        outline: 0;
    }
    .color-blue {
        color: #0394c0;
    }
    .color-green {
        color: #70ac56;
    }
    .color-orange {
        color: #eb6329;
    }
    .color-red {
        color: #c91923;
    }
    .color-purple {
        color: #6c5293;
    }
    .gradient-apply4 {
        background: $color_7;
        background: -webkit-linear-gradient(left, $color_7, $color_5);
        background: -o-linear-gradient(right, $color_7, $color_5);
        background: -moz-linear-gradient(right, $color_7, $color_5);
        background: linear-gradient(to right, $color_7, $color_5);
    }
    .gradient-blue {
        background: rgba(3, 107, 163, 1);
        background: -moz-linear-gradient(left, rgba(3, 107, 163, 1) 0%, rgba(6, 115, 169, 1) 22%, rgba(10, 128, 178, 1) 50%, rgba(14, 142, 188, 1) 71%, rgba(16, 152, 194, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3, 107, 163, 1)), color-stop(22%, rgba(6, 115, 169, 1)), color-stop(50%, rgba(10, 128, 178, 1)), color-stop(71%, rgba(14, 142, 188, 1)), color-stop(100%, rgba(16, 152, 194, 1)));
        background: -webkit-linear-gradient(left, rgba(3, 107, 163, 1) 0%, rgba(6, 115, 169, 1) 22%, rgba(10, 128, 178, 1) 50%, rgba(14, 142, 188, 1) 71%, rgba(16, 152, 194, 1) 100%);
        background: -o-linear-gradient(left, rgba(3, 107, 163, 1) 0%, rgba(6, 115, 169, 1) 22%, rgba(10, 128, 178, 1) 50%, rgba(14, 142, 188, 1) 71%, rgba(16, 152, 194, 1) 100%);
        background: -ms-linear-gradient(left, rgba(3, 107, 163, 1) 0%, rgba(6, 115, 169, 1) 22%, rgba(10, 128, 178, 1) 50%, rgba(14, 142, 188, 1) 71%, rgba(16, 152, 194, 1) 100%);
        background: linear-gradient(to right, rgba(3, 107, 163, 1) 0%, rgba(6, 115, 169, 1) 22%, rgba(10, 128, 178, 1) 50%, rgba(14, 142, 188, 1) 71%, rgba(16, 152, 194, 1) 100%);
        //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#036ba3', endColorstr='#1098c2', GradientType=1);
    }
    .gradient-red {
        background: rgba(144, 38, 80, 1);
        background: -webkit-linear-gradient(left, rgba(144, 38, 80, 1), rgba(205, 41, 51, 1));
        background: -o-linear-gradient(right, rgba(144, 38, 80, 1), rgba(205, 41, 51, 1));
        background: -moz-linear-gradient(right, rgba(144, 38, 80, 1), rgba(205, 41, 51, 1));
        background: linear-gradient(to right, rgba(144, 38, 80, 1), rgba(205, 41, 51, 1));
    }
    .gradient-green {
        background: rgba(2, 124, 91, 1);
        background: -moz-linear-gradient(left, rgba(2, 124, 91, 1) 0%, rgba(37, 138, 82, 1) 38%, rgba(44, 141, 80, 1) 51%, rgba(87, 159, 69, 1) 71%, rgba(87, 159, 69, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2, 124, 91, 1)), color-stop(38%, rgba(37, 138, 82, 1)), color-stop(51%, rgba(44, 141, 80, 1)), color-stop(71%, rgba(87, 159, 69, 1)), color-stop(100%, rgba(87, 159, 69, 1)));
        background: -webkit-linear-gradient(left, rgba(2, 124, 91, 1) 0%, rgba(37, 138, 82, 1) 38%, rgba(44, 141, 80, 1) 51%, rgba(87, 159, 69, 1) 71%, rgba(87, 159, 69, 1) 100%);
        background: -o-linear-gradient(left, rgba(2, 124, 91, 1) 0%, rgba(37, 138, 82, 1) 38%, rgba(44, 141, 80, 1) 51%, rgba(87, 159, 69, 1) 71%, rgba(87, 159, 69, 1) 100%);
        background: -ms-linear-gradient(left, rgba(2, 124, 91, 1) 0%, rgba(37, 138, 82, 1) 38%, rgba(44, 141, 80, 1) 51%, rgba(87, 159, 69, 1) 71%, rgba(87, 159, 69, 1) 100%);
        background: linear-gradient(to right, rgba(2, 124, 91, 1) 0%, rgba(37, 138, 82, 1) 38%, rgba(44, 141, 80, 1) 51%, rgba(87, 159, 69, 1) 71%, rgba(87, 159, 69, 1) 100%);
        //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#027c5b', endColorstr='#579f45', GradientType=1);
    }
    .gradient-orange {
        background: rgba(205, 42, 51, 1);
        background: -moz-linear-gradient(left, rgba(205, 42, 51, 1) 0%, rgba(211, 53, 52, 1) 25%, rgba(218, 68, 52, 1) 50%, rgba(225, 82, 53, 1) 75%, rgba(235, 105, 54, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(205, 42, 51, 1)), color-stop(25%, rgba(211, 53, 52, 1)), color-stop(50%, rgba(218, 68, 52, 1)), color-stop(75%, rgba(225, 82, 53, 1)), color-stop(100%, rgba(235, 105, 54, 1)));
        background: -webkit-linear-gradient(left, rgba(205, 42, 51, 1) 0%, rgba(211, 53, 52, 1) 25%, rgba(218, 68, 52, 1) 50%, rgba(225, 82, 53, 1) 75%, rgba(235, 105, 54, 1) 100%);
        background: -o-linear-gradient(left, rgba(205, 42, 51, 1) 0%, rgba(211, 53, 52, 1) 25%, rgba(218, 68, 52, 1) 50%, rgba(225, 82, 53, 1) 75%, rgba(235, 105, 54, 1) 100%);
        background: -ms-linear-gradient(left, rgba(205, 42, 51, 1) 0%, rgba(211, 53, 52, 1) 25%, rgba(218, 68, 52, 1) 50%, rgba(225, 82, 53, 1) 75%, rgba(235, 105, 54, 1) 100%);
        background: linear-gradient(to right, rgba(205, 42, 51, 1) 0%, rgba(211, 53, 52, 1) 25%, rgba(218, 68, 52, 1) 50%, rgba(225, 82, 53, 1) 75%, rgba(235, 105, 54, 1) 100%);
        //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd2a33', endColorstr='#eb6936', GradientType=1 );
    }
    .gradient-purple {
        background: rgba(79, 49, 117, 1);
        background: -webkit-linear-gradient(left, rgba(79, 49, 117, 1), rgba(118, 93, 154, 1));
        background: -o-linear-gradient(right, rgba(79, 49, 117, 1), rgba(118, 93, 154, 1));
        background: -moz-linear-gradient(right, rgba(79, 49, 117, 1), rgba(118, 93, 154, 1));
        background: linear-gradient(to right, rgba(79, 49, 117, 1), rgba(118, 93, 154, 1));
    }
    ol,
    ul {
        li {
            color: $color_7;
            font-size: 17px;
            font-weight: 300;
        }
    }
}