.page-template-template-contact {
    background-color: $color_8;
    .the-content>.row {
        h1.form-title {
            font-family: 'Open Sans', sans-serif;
            color: $color_5;
            font-size: 24px;
            margin-top: 0px;
            @media (min-width: 768px) {
                font-size: 33px;
                letter-spacing: -0.8px;
                margin-bottom: 0;
            }
            @media (min-width: 992px) {
                font-size: 37px;
                letter-spacing: -0.4px;
            }
        }
        .ss-contact-form {
            h2.form-title {
                font-family: 'Open Sans', sans-serif;
                color: $color_6;
                margin-top: 10px;
                font-size: 28px;
                font-weight: 300;
                letter-spacing: -0.8px;
                line-height: 1.15;
                @media (min-width: 768px) {
                    font-size: 49px;
                    line-height: 1.1;
                    margin-top: 14px;
                    letter-spacing: -0.7px;
                }
                @media (min-width: 992px) {
                    font-size: 55px;
                    margin-top: 7px;
                    letter-spacing: -0.5px;
                }
            }
            p.form-title {
                font-size: 17px;
                font-weight: 300;
                color: $color_7;
                line-height: 1.4;
                letter-spacing: -0.44px;
                padding-bottom: 20px;
                @media (min-width: 768px) {
                    line-height: 1.48;
                    letter-spacing: 0.13px;
                    margin-bottom: 14px;
                    padding-bottom: 33px;
                }
                strong {
                    margin-top: 37px;
                    @media (min-width: 768px) {
                        letter-spacing: 0.18px;
                    }
                }
            }
        }
        .custom-form {
            padding-top: 0px;
            @media(min-width: 768px) {
                padding-top: 27px;
            }
            @media(min-width: 992px) {
                padding-top: 31px;
            }
            .form-group,
            .form-inline {
                margin-bottom: 23px;
                @media(min-width: 768px) {
                    margin-bottom: 28px;
                    label.custom {
                        width: 20%;
                    }
                    .on-top {
                        vertical-align: top;
                    }
                    span.wpcf7-form-control-wrap {
                        display: inline-block;
                        width: 65%;
                    }
                }
                @media(min-width: 992px) {
                    margin-bottom: 23px;
                }
                label.custom {
                    font-weight: unset;
                    color: $color_1;
                }
            }
            input.wpcf7-form-control,
            textarea.wpcf7-form-control {
                border: none;
                background-color: white;
                width: 100%;
                padding: 9px 10px;
            }
            .requerido {
                label {
                    color: $color_1;
                    &:after {
                        content: '*';
                        color: $color_5;
                    }
                }
            }
            .title {
                width: 50%;
            }
            .applications {
                span.application {
                    @media(min-width: 768px) {
                        padding-left: 33px;
                    }
                }
                .application-option.wpcf7-form-control.wpcf7-checkbox {
                    span.wpcf7-list-item {
                        display: block;
                        padding-top: 5px;
                        margin-left: 0px;
                        padding-bottom: 16px;
                    }
                }
            }
            textarea.wpcf7-form-control {
                resize: none;
            }
            .wpcf7-submit.button-submit {
                background-color: $color_1;
                margin-top: 21px;
                color: white;
                width: auto;
                margin-bottom: 53px;
                padding: 10px;
                width: 111px;
                @media(min-width: 768px) {
                    width: 114px;
                    margin-top: 29px;
                    margin-bottom: 69px;
                    font-size: 19px;
                }
                @media(min-width: 992px) {
                    width: 115px;
                    margin-top: 29px;
                    margin-bottom: 109px;
                }
            }
            select.wpcf7-form-control {
                width: 100%;
                border: 0;
                /*Removes border*/
                -webkit-appearance: none;
                /*Removes default chrome and safari style*/
                -moz-appearance: none;
                /* Removes Default Firefox style*/
                appearance: none;
                background-color: white;
                color: $color_1;
                padding: 9px 10px;
                text-indent: 0.01px;
                /* Removes default arrow from firefox*/
                text-overflow: "";
                /*Removes default arrow from firefox*/
                /*My custom style for fonts*/
                background-image: url('../images/arrow-vector2.png');
                background-position: top right; //background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
                background-size: 38px 38px, 30px 30px, 2.5em 2.5em;
                background-repeat: no-repeat;
            }
        }
        // zoho contact form
        #crmWebToEntityForm {
            padding-top: 0px;
            @media (min-width: 768px) {
                padding-top: 27px;
            }
            @media (min-width: 992px) {
                padding-top: 31px;
            }
            table {
                tbody {
                    tr {
                        td {
                            padding-bottom: 23px;
                            @media (min-width: 768px) {
                                padding-bottom: 28px;
                            }
                            @media (min-width: 992px) {
                                padding-bottom: 23px;
                            }
                            &:first-child {
                                color: $color_1;
                                @media (min-width: 768px) {
                                    width: 25%;
                                }
                                span {
                                    color: $color_5;
                                }
                            }
                            &:last-child {
                                input {
                                    border: none;
                                    background-color: white;
                                    width: 100%;
                                    max-width: 81%;
                                    padding: 9px 10px;
                                }
                                select {
                                    width: 100%;
                                    max-width: 81%;
                                }
                                textarea {
                                    width: 100%;
                                    max-width: 81%;
                                    resize: none;
                                    border: none;
                                    background-color: white;
                                    padding: 9px 10px;
                                }
                            }
                            &.on-top {
                                vertical-align: top;
                            }
                        }
                        &:last-child {
                            td {
                                input {
                                    width: auto;
                                    background-color: #294058;
                                    margin-top: 21px;
                                    color: white;
                                    margin-bottom: 53px;
                                    padding: 10px;
                                    width: 111px;
                                    @media (min-width: 768px) {
                                        width: 114px;
                                        margin-top: 29px;
                                        margin-bottom: 69px;
                                        font-size: 19px;
                                    }
                                    @media (min-width: 992px) {
                                        width: 115px;
                                        margin-top: 29px;
                                        margin-bottom: 109px;
                                    }
                                    &:first-child {
                                        margin-right: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // end zoho contact form
        .contact-info-sidebar {
            background-color: white;
            padding: 10px 30px 33px 30px;
            @media (min-width: 768px) {
                padding: 30px;
            }
            @media(min-width: 1280px) {
                width: 378px;
                padding: 33px 30px 0px 30px;
            }
            .contact-info {
                padding-bottom: 18px;
                @media(min-width: 992px) {
                    padding-bottom: 33px;
                }
                h2.info-title {
                    color: $color_5;
                    font-size: 18px;
                    @media(min-width: 768px) {
                        margin-top: 0px;
                        font-size: 24px;
                    }
                }
                p {
                    a {
                        color: $color_1;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .in-row {
            .contact-info-sidebar {
                display: flex;
                flex-direction: column;
                @media(min-width: 768px) {
                    flex-direction: row;
                }
                @media(min-width: 992px) {
                    flex-direction: column;
                }
                .contact-info {
                    flex: 1;
                }
            }
        }
        .social-icons {
            display: flex;
            padding-left: 28px;
            padding-top: 15px;
            padding-bottom: 52px;
            a {
                padding-right: 30px;
                i {
                    font-size: 20px;
                    color: $color_1;
                }
            }
            @media (min-width: 768px) {
                padding-top: 30px;
                padding-left: 0px;
                a {
                    padding-right: 20px;
                }
            }
            @media(min-width: 992px) {
                padding-left: 28px;
            }
        }
    }
    .wpcf7-list-item-label {
        display: inline-block;
        width: 110px;
        color: $color_1;
    }
    .oculto {
        display: none;
    }
    #thank-message {
        min-height: 300px;
        width: 80%;
        margin: 0 auto;
        @media(min-width: 768px) {
            width: 100%;
            min-height: 600px;
        }
        h2 {
            color: $color_10;
            margin-top: 10px;
            font-size: 35px;
            font-weight: 300;
            letter-spacing: -0.8px;
            line-height: 1.15;
            @media (min-width: 768px) {
                font-size: 60px;
                line-height: 1.1;
                margin-top: 14px;
                letter-spacing: -0.7px;
            }
            @media (min-width: 992px) {
                font-size: 68px;
                margin-top: 7px;
                letter-spacing: -0.5px;
            }
        }
        p {
            font-size: 21px;
            font-weight: 300;
            color: $color_11;
            line-height: 1.4;
            letter-spacing: -0.44px;
            margin-top: 22px;
            margin-bottom: 32px;
            @media (min-width: 768px) {
                margin-bottom: 100px;
            }
        }
    }
}