body.page-template-template-cookie-policy {
    #page-wrap {
        background-image: url('../images/background-mobile.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right top;
        @media (min-width: 768px) {
            background-color: $color_8;
            background-image: none;
        }
        @media (min-width: 992px) {
            background-image: url('../images/background-login.png');
            background-color: initial;
        }
    }
    h1 {
        font-family: 'Open Sans', sans-serif;
        color: $color_5;
        font-size: 24px;
        letter-spacing: -0.4px;
        @media (min-width: 768px) {
            font-size: 35px;
            letter-spacing: -0.8px;
            margin-bottom: 0;
        }
        @media (min-width: 992px) {
            font-size: 36px;
            letter-spacing: 0.4px;
        }
    }
    h2 {
        font-family: 'Open Sans', sans-serif;
        color: $color_6;
        margin-top: -4px;
        font-size: 26px;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 1.25;
        @media (min-width: 768px) {
            font-size: 47px;
            line-height: 1.1;
            margin-top: 11px;
            letter-spacing: -0.1px;
        }
        @media (min-width: 992px) {
            font-size: 55px;
            margin-top: 7px;
            letter-spacing: -0.7px;
        }
    }
    .cookie-policy-text {
        margin-top: 16px;
        margin-bottom: 72px;
        @media (min-width: 768px) {
            margin-top: 14px;
            margin-bottom: 79px;
        }
        @media (min-width: 992px) {
            margin-top: 18px;
            margin-bottom: 101px;
        }
        p {
            font-size: 16px;
            font-weight: 300;
            color: $color_7;
            line-height: 1.45;
            @media (min-width: 768px) {
                line-height: 1.55;
                letter-spacing: 0.45px;
                margin-bottom: 14px;
            }
            @media (min-width: 992px) {
                line-height: 1.45;
            }
            strong {
                letter-spacing: -0.25px;
                @media (min-width: 768px) {
                    letter-spacing: 0.2px;
                }
            }
        }
    }
}