body #page-wrap {
    footer {
        background-color: #263c56;
        .the-content {
            padding-top: 22px;
            padding-bottom: 47px;
            @media (min-width: 768px) {
                padding-top: 24px;
                padding-bottom: 70px;
            }
            @media (min-width: 1200px) {
                padding: 25px 23px 22px 23px;
            }
            color: white;
            position: relative;
            .information {
                color: #02959c;
            }
            .footer-header {
                @include display-flex();
                @include justify-content(space-between);
                @include align-items(center);
                .logo {
                    width: 91px;
                    @media(min-width: 768px) {
                        width: 105px;
                    }
                    img {
                        height: auto;
                        width: 100%;
                    }
                }
                .email_wrap {
                    font-weight: 700;
                    font-size: 13px;
                    a {
                        color: #fff;
                        &:hover {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                    @media(min-width: 768px) {
                        font-size: 15px;
                        display: none;
                    }
                }
            }
            .social-wrap {
                margin-top: 28px;
                @include display-flex();
                @media(min-width: 768px) {
                    @include justify-content(space-between);
                    margin-top: 40px;
                }
                @media(min-width: 992px) {
                    @include justify-content(flex-start);
                    margin-top: 0px;
                    margin-left: -42px;
                }
                @media (min-width: 1200px) {
                    @include align-items(center);
                }
                color: white;
                font-size: 15px;
                .social-links {
                    display: inline-block;
                    a {
                        i {
                            font-size: 17px;
                            color: white;
                            @media(min-width: 768px) {
                                font-size: 19px;
                            }
                        }
                    }
                    a+a {
                        margin-left: 11px;
                        @media(min-width: 768px) {
                            margin-left: 17px;
                        }
                    }
                }
                .container-politics {
                    @include display-flex();
                    @include flex-direction(column);
                    margin-top: 3px;
                    margin-left: 27px;
                    @media (min-width: 768px) {
                        margin-left: 0px;
                    }
                    @media (min-width: 992px) {
                        margin-left: 35px;
                    }
                    @media (min-width: 1200px) {
                        @include flex-direction(row);
                        margin-top: 0px;
                    }
                    .politic {
                        display: inline-block;
                        font-size: 12px;
                        margin-bottom: 10px;
                        @media(min-width: 768px) {
                            font-size: 13px;
                        }
                        @media (min-width: 1200px) {
                            margin-bottom: 0px;
                            margin-top: 11px;
                            margin-right: 18px;
                        }
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
            .footer_information {
                margin-top: 25px;
                @media(min-width: 768px) {
                    margin-top: 0px;
                }
                .p-1 {
                    @media(min-width: 768px) {
                        padding-left: 7px;
                    }
                    @media (min-width: 1200px) {
                        padding-left: 30px;
                    }
                    p {
                        margin: 0px;
                    }
                    .information {
                        font-weight: 600;
                        font-size: 13px;
                        letter-spacing: 0.2px;
                        @media(min-width: 768px) {
                            font-size: 15px;
                            line-height: 16px;
                            letter-spacing: -0.1px;
                        }
                    }
                    .address {
                        font-size: 11px;
                        margin-top: 4px;
                        max-width: 70%;
                        @media(min-width: 768px) {
                            max-width: 100%;
                            margin-top: 7px;
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 16px;
                        }
                    }
                    .phone {
                        font-size: 13px;
                        margin-top: 10px;
                        display: inline-block;
                        text-decoration: none;
                        color: #fff;
                        @media(min-width: 768px) {
                            margin-top: 15px;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 16px;
                        }
                        @media(min-width: 992px) {
                            margin-top: 12px;
                        }
                    }
                }
                .usa-info {
                    margin-top: 15px;
                    max-width: 230px;
                    width: 100%;
                    @media(min-width: 768px) {
                        margin-top: 0px;
                        padding-left: 10px;
                        max-width: 200px;
                        width: 100%;
                    }
                    @media (min-width: 1200px) {
                        padding-left: 21px;
                        max-width: 215px;
                        width: 100%;
                    }
                }
            }
            .copyright {
                display: block;
                //position: absolute;
                font-size: 11px;
                // bottom: 15px;
                margin-top: 30px;
                @media(min-width: 768px) {
                    font-size: 12px;
                    margin-top: 35px;
                }
                @media (min-width: 1200px) {
                    // bottom: 20px;
                    margin-top: 0px;
                }
                span {
                    letter-spacing: -0.3px;
                    @media (min-width: 768px) {
                        letter-spacing: 0px;
                    }
                }
                .yellobelly {
                    color: $color_6;
                }
                &.tablet-mobile {
                    @include display-flex();
                    @include justify-content(space-between);
                    @media (min-width: 992px) {
                        display: none;
                    }
                }
                &.desktop {
                    display: none;
                    @media (min-width: 992px) {
                        display: block;
                        margin-top: 40px;
                    }
                    span {
                        @media (min-width: 1200px) {
                            letter-spacing: 0.1px;
                        }
                    }
                    .yellobelly {
                        margin-left: 32px;
                    }
                }
            }
        }
    }
}