header {
    position: fixed;
    width: 100%;
    height: 43px;
    z-index: 999;
    background: $color_7;
    background: -webkit-linear-gradient(left, $color_7, $color_5);
    background: -o-linear-gradient(right, $color_7, $color_5);
    background: -moz-linear-gradient(right, $color_7, $color_5);
    background: linear-gradient(to right, $color_7, $color_5);
    @include display-flex();
    @include justify-content(center);
    @media(min-width: 768px) {
        height: 72px;
    }
    @media (min-width: 992px) {
        height: 77px;
    }
    .container-header {
        width: 100%;
        @media (min-width: 768px) {
            max-width: 1280px;
            width: 100%;
            margin: auto;
            z-index: 999;
            padding: 0px 40px;
            height: 72px;
            @include display-flex();
            @include justify-content(space-between);
            @include align-items (center);
        }
        @media (min-width: 992px) {
            padding: 0px 40px;
            height: 77px;
        }
    }
    .header-top-mobile {
        background: -webkit-linear-gradient(left, $color_7, $color_5);
        background: -o-linear-gradient(right, $color_7, $color_5);
        background: -moz-linear-gradient(right, $color_7, $color_5);
        background: linear-gradient(to right, $color_7, $color_5);
        padding: 10px 18px;
        @include display-flex();
        @include justify-content(space-between);
        @include align-items(center);
        .logo {
            img {
                max-width: 105px;
                width: 100%;
                height: auto;
            }
        }
        .social-networks {
            @include display-flex();
            a {
                font-size: 16px;
                line-height: 16px;
                color: #fff;
                &:first-child {
                    margin-right: 21px;
                }
            }
        }
    }
    .logo-white {
        max-width: 180px;
        width: 100%;
        a {
            display: inline-block;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .container-menu {
        background-color: $color_7;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 999;
        @media (min-width: 992px) {
            position: initial;
            background-color: transparent;
            border-top: none;
            height: 100%;
        }
        @media (min-width: 1200px) {
            margin-left: 25px;
        }
        .navbar-collapse.collapse {
            @media (min-width: 768px) {
                display: none !important;
            }
            @media (min-width: 992px) {
                display: block !important;
                height: 100% !important;
            }
        }
        .main-menu {
            @media (min-width: 992px) {
                height: 100%;
            }
            .menu-apply4-container {
                @media (min-width: 992px) {
                    height: 100%;
                }
                .menu {
                    @media (min-width: 992px) {
                        height: 100%;
                    }
                    li {
                        @media (min-width: 992px) {
                            height: 100%;
                        }
                    }
                }
            }
        }
        .navbar-collapse.collapse.in {
            display: block !important;
        }
        .navbar-header {
            text-align: center;
            @media (min-width: 768px) {
                float: none;
            }
            @media (min-width: 992px) {
                float: left;
            }
            .navbar-toggle {
                float: none;
                background: none;
                border: none;
                margin: 0px auto;
                @media (min-width: 768px) {
                    display: block !important;
                }
                @media (min-width: 992px) {
                    display: none !important;
                }
                .icon-bar {
                    background-color: #fff;
                    height: 3px;
                    width: 26px;
                    border-radius: 0px;
                }
            }
        }
        .container-custom-menu {
            background-color: $color_7;
            text-align: center;
            box-shadow: none;
            padding-top: 25px;
            padding-bottom: 25px;
            @media (min-width: 768px) {
                background-color: transparent;
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
        .main-menu {
            .menu {
                margin: 0px;
                padding: 0px;
                @media (min-width: 992px) {
                    @include display-flex();
                }
                li {
                    list-style: none;
                    display: block;
                    margin: 20px 0px;
                    @media (min-width: 992px) {
                        @include display-flex();
                        @include align-items(center);
                        margin: 0px;
                        padding: 10px 21px 10px 0px;
                        &:hover {
                            .sub-menu {
                                display: block;
                            }
                        }
                    }
                    a {
                        color: #fff;
                        font-size: 20px;
                        font-weight: 600;
                        text-decoration: none;
                        @media (min-width: 768px) {
                            font-size: 27px;
                        }
                        @media (min-width: 992px) {
                            font-size: 15px;
                        }
                    }
                    &:last-child {
                        background-color: $color_5;
                        padding: 11px 15px;
                        max-width: 190px;
                        margin: 0px auto 30px;
                        @media (min-width: 768px) {
                            max-width: 258px;
                        }
                        @media (min-width: 992px) {
                            background-color: transparent;
                            padding: 0px;
                            max-width: 100%;
                            margin: 0px;
                        }
                        a {
                            @media (min-width: 992px) {
                                background-color: $color_7;
                                padding: 6px 15px;
                            }
                        }
                    }
                }
            }
            .sub-menu {
                list-style: none;
                padding: 0px 30px;
                margin-top: 15px;
                margin-bottom: 30px;
                @media (min-width: 768px) {
                    @include display-flex();
                    @include align-items(center);
                    padding: 0px;
                    margin-bottom: 0px;
                }
                @media (min-width: 992px) {
                    display: none;
                    background-color: $color_13;
                    position: absolute;
                    z-index: 999;
                    top: 77px;
                    max-width: 390px;
                    padding: 5px 30px 15px;
                    margin-top: 0px;
                }
                li {
                    margin: 0px;
                    float: left;
                    text-align: left;
                    width: 50%;
                    padding-bottom: 15px;
                    @media (min-width: 768px) {
                        text-align: center;
                        width: 20%;
                        padding-bottom: 0px;
                    }
                    @media (min-width: 992px) {
                        float: left;
                        text-align: left;
                        width: 33%;
                        padding: 10px 17px 0px 0px;
                    }
                    a {
                        color: $color_6;
                        font-size: 15px;
                        @media (min-width: 768px) {
                            font-size: 18px;
                        }
                        @media (min-width: 992px) {
                            color: $color_7;
                            font-size: 15px;
                            line-height: 15px;
                            font-weight: 800;
                            padding: 7px 0px;
                        }
                    }
                    &:last-child {
                        background-color: transparent;
                        margin: 0px;
                        padding: 0px;
                        max-width: 100%;
                        @media (min-width: 992px) {
                            padding: 10px 17px 0px 0px;
                        }
                        a {
                            @media (min-width: 992px) {
                                background-color: transparent;
                                padding: 7px 0px;
                            }
                        }
                    }
                    &:nth-child(2n) {
                        text-align: center;
                        @media (min-width: 992px) {
                            text-align: left;
                        }
                    }
                }
                &:after {
                    content: "";
                    clear: both;
                    display: block;
                }
            }
        }
    }
    .social-networks-sm-md {
        @include display-flex();
        @include align-items(flex-end);
        .email-header {
            margin-right: 23px;
            a {
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                letter-spacing: 0.2px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .social {
            a {
                color: #fff;
                font-size: 20px;
                line-height: 20px;
                &:first-child {
                    margin-right: 13px;
                }
            }
        }
    }
    .header-logo {
        position: absolute;
        bottom: 5px;
        left: 40px;
        z-index: 10;
        max-width: 225px;
        width: 100%;
        height: auto;
        img {
            max-width: 225px;
            width: 100%;
            height: auto;
        }
        .logo-white-box {
            display: none;
        }
    }
}