body.page-template-template-homepage {
    .container-image-video {
        position: relative;
        margin-bottom: 7px;
        @media (min-width: 768px) {
            margin-bottom: 20px;
        }
        @media (min-width: 992px) {
            margin-right: -15px;
            margin-bottom: 0px;
        }
        .image-video {
            position: relative;
            width: 100%;
            height: auto;
        }
        .video {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            height: 100%;
            width: 100%;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
        .cta-play-video {
            position: absolute;
            bottom: 0px;
            padding: 13px 16px;
            background: -webkit-linear-gradient(left, $color_7, $color_5);
            background: -o-linear-gradient(right, $color_7, $color_5);
            background: -moz-linear-gradient(right, $color_7, $color_5);
            background: linear-gradient(to right, $color_7, $color_5);
            @include display-flex();
            @include align-items(center);
            cursor: pointer;
            @media (min-width: 768px) {
                padding: 20px 23px;
            }
            img {
                max-width: 23px;
                width: 100%;
            }
            p {
                margin: 0px;
                color: #fff;
                font-weight: 600;
                font-size: 15px;
                margin-left: 8px;
                @media (min-width: 768px) {
                    font-size: 16px;
                    margin-left: 13px;
                    letter-spacing: 1.3px;
                }
            }
        }
    }
    .container-title-sub-desc-homepage {
        margin-bottom: 18px;
        @media (min-width: 768px) {
            margin-bottom: 33px;
        }
        @media (min-width: 992px) {
            margin-bottom: 38px;
            padding-left: 40px;
        }
        .title-hp {
            h1 {
                margin-top: 0px;
                margin-bottom: 6px;
                font-size: 45px;
                line-height: 45px;
                font-weight: 200;
                color: $color_6;
                @media (min-width: 768px) {
                    font-size: 107px;
                    line-height: 107px;
                    margin-bottom: 20px;
                }
                @media (min-width: 992px) {
                    font-size: 45px;
                    line-height: 48px;
                }
            }
        }
        .subtitle-hp {
            h4 {
                margin-top: 0px;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.4px;
                font-weight: 600;
                color: $color_6;
                margin-bottom: 3px;
                @media (min-width: 768px) {
                    font-size: 23px;
                    line-height: 28px;
                    margin-bottom: 7px;
                }
            }
        }
        .description-hp {
            p {
                font-size: 12px;
                line-height: 17px;
                color: #2a415a;
                @media (min-width: 768px) {
                    font-weight: 200;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
    .container-apps-homepage {
        margin-bottom: 15px;
        @include display-flex();
        @include align-items(center);
        @include justify-content(flex-start);
        @include flex-wrap(wrap);
        margin-right: -9px;
        margin-left: -9px;
        @media (min-width: 768px) {
            margin-bottom: 30px;
            margin-right: -17px;
            margin-left: -17px;
        }
        @media (min-width: 992px) {
            padding-left: 40px;
            margin-right: -8px;
            margin-left: -8px;
        }
        .app-logoBox {
            flex: 1 0 33%;
            max-width: 33%;
            padding: 0px 9px 22px 9px;
            @media (min-width: 768px) {
                flex: 1 0 20%;
                max-width: 20%;
                padding: 0px 17px 22px 17px;
            }
            @media (min-width: 992px) {
                padding: 0px 8px 22px 8px;
            }
            img {
                position: relative;
                display: block;
                width: 100%;
                max-width: 150px;
                height: auto;
                margin: auto;
            }
        }
    }
}

body.page-template-template-homepage {
    .key-aspects {
        background-color: $color_8;
        padding-top: 8px;
        padding-bottom: 20px;
        @media (min-width: 768px) {
            padding-top: 16px;
            padding-bottom: 50px;
        }
        @media (min-width: 992px) {
            padding-top: 38px;
            padding-bottom: 75px;
        }
        .the-content {
            h2 {
                font-size: 17px;
                color: $color_5;
                font-weight: 600;
                letter-spacing: -0.5px;
                @media (min-width: 768px) {
                    font-size: 20px;
                    margin-top: 42px;
                }
            }
            p {
                font-weight: 300;
                color: $color_7;
                line-height: 1.45;
                @media (min-width: 768px) {
                    margin-top: 14px;
                }
            }
            .key-1,
            .key-2,
            .key-3 {
                @media (min-width: 992px) {
                    margin: 0 5px;
                    padding: 0 5px;
                }
            }
            .key-1 {
                margin-left: 0;
                padding-left: 0;
            }
            .key-3 {
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
    .client-portfolio {
        padding: 15px 0;
        @media (min-width: 768px) {
            padding: 15px 0px 40px;
        }
        @media (min-width: 992px) {
            padding: 27px 0px 62px;
        }
        h2 {
            color: $color_6;
            text-align: center;
            font-size: 20px;
            margin-bottom: 25px;
            @media (min-width: 768px) {
                font-size: 33px;
                margin-bottom: 22px;
            }
            @media (min-width: 992px) {
                font-size: 37px;
            }
        }
        .clients {
            .uk-clients {
                margin-bottom: 37px;
                @media (min-width: 992px) {
                    margin-bottom: 25px;
                }
            }
            .uk-clients,
            .usa-clients {
                h3 {
                    color: $color_5;
                    font-size: 16px;
                    line-height: 16px;
                    margin-top: 0px;
                    margin-bottom: 19px;
                    @media (min-width: 768px) {
                        font-size: 25px;
                        line-height: 25px;
                        margin-bottom: 27px;
                    }
                }
                .list-uk {
                    @media (min-width: 768px) {
                        -webkit-column-count: 2;
                        -moz-column-count: 2;
                        column-count: 2;
                        -webkit-column-gap: 60px;
                        -moz-column-gap: 60px;
                        column-gap: 60px;
                        height: 650px;
                    }
                    @media (min-width: 992px) {
                        -webkit-column-count: 3;
                        -moz-column-count: 3;
                        column-count: 3;
                        height: 425px;
                    }
                    @media (min-width: 1200px) {
                        height: 400px;
                    }
                }
                .list-uk,
                .list-usa {
                    p,
                    a {
                        color: #2a415a;
                        font-size: 13px;
                        line-height: 14px;
                        font-weight: 600;
                        margin-bottom: 14px;
                        letter-spacing: -0.2px;
                        transform: translateZ(0);
                        @media (min-width: 768px) {
                            font-size: 15px;
                            line-height: 16px;
                            letter-spacing: -0.4px;
                            margin-bottom: 18px;
                        }
                    }
                    a {
                        text-decoration: none;
                        display: block;
                    }
                }
            }
        }
    }
}

body.page-template-template-homepage {
    #page-wrap {
        @media(min-width: 992px) {
            overflow: hidden;
        }
        #content-wrap {
            // padding-top: 12px;
            padding-top: 55px;
            @media(min-width: 768px) {
                // padding-top: 19px;
                padding-top: 96px;
            }
            @media(min-width: 992px) {
                // padding-top: 115px;
                padding-top: 192px;
            }
            .section-first-part-homepage {
                @media (min-width: 992px) {
                    padding-bottom: 33px;
                }
            }
            section.apps_features_section {
                @media(min-width: 992px) {
                    padding-bottom: 83px;
                }
                .app_container {
                    overflow: hidden;
                    @media(min-width: 992px) {
                        overflow: visible;
                    }
                    .app-item {
                        display: block;
                        position: relative;
                        padding-top: 3px;
                        .app_content {
                            @media(min-width: 992px) {
                                .the-content {
                                    max-width: 66%;
                                }
                            }
                            .app_name {
                                margin: 0px;
                                font-size: 43px;
                                color: #7e8d9b;
                                @media(min-width: 768px) {
                                    font-size: 117px;
                                    letter-spacing: 0px;
                                    margin-left: -12px;
                                }
                                @media(min-width: 992px) {
                                    font-size: 121px;
                                    letter-spacing: 0px;
                                    margin-left: -6px;
                                    font-weight: 300;
                                }
                            }
                            .app_wrap {
                                margin-top: 9px;
                                @media(min-width: 768px) {
                                    @include display-flex();
                                    @include flex-direction(row);
                                    @include justify-content(space-between);
                                    margin-top: 33px;
                                }
                                .app-logo {
                                    position: relative;
                                    display: block;
                                    max-width: 70px;
                                    @media(min-width: 768px) {
                                        //@include flex(1 0 35%);
                                        flex: 1 0 21%;
                                        max-width: 21%;
                                    }
                                    img {
                                        display: block;
                                        position: relative;
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                                .app-description {
                                    @media(min-width: 768px) {
                                        //@include flex(1 0 65%);
                                        flex: 1 0 75%;
                                        max-width: 75%;
                                    }
                                    h4 {
                                        line-height: 20px;
                                        letter-spacing: 0.4px;
                                        margin-bottom: 0px;
                                        font-size: 14px;
                                        font-weight: 600;
                                        color: #7e8d9b;
                                        @media(min-width: 768px) {
                                            line-height: 29px;
                                            letter-spacing: 0px;
                                            margin-bottom: 0px;
                                            font-size: 24px;
                                            font-weight: 600;
                                            margin: 0px;
                                        }
                                    }
                                    .description {
                                        font-size: 12px;
                                        padding-top: 6px;
                                        color: #2a415a;
                                        @media(min-width: 768px) {
                                            font-size: 16px;
                                            padding-top: 4px;
                                            line-height: 25px;
                                        }
                                    }
                                }
                            }
                        }
                        .app_feature_image {
                            @include display-flex();
                            @include justify-content(flex-end);
                            @media(min-width: 992px) {
                                display: block;
                                position: absolute;
                                top: 0px;
                                right: 0px;
                            }
                            .image-box {
                                position: relative;
                                display: block;
                                margin-bottom: -65px;
                                margin-right: -13px;
                                width: 204px;
                                padding: 0px;
                                z-index: -1;
                                @media(min-width: 768px) {
                                    margin-bottom: -164px;
                                    margin-right: -45px;
                                    width: 600px;
                                }
                                @media(min-width: 992px) {
                                    margin-top: -212px;
                                    margin-right: -101px;
                                    margin-bottom: 0px;
                                    width: 600px;
                                }
                                &.thumbnail {
                                    border: none;
                                }
                                img {
                                    display: block;
                                    position: relative;
                                    width: 100%;
                                    height: auto;
                                }
                                svg {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                            }
                        }
                    }
                    .app-item+.app-item {
                        display: none;
                    }
                }
            }
        }
    }
}