body.single-post {
    .container-fluid {
        .the-content {
            position: relative;
            .close-button-single-post {
                position: absolute;
                top: 0px;
                right: 25px;
                display: inline-block;
                background: $color_7;
                background: -webkit-linear-gradient(left, $color_7, $color_5);
                background: -o-linear-gradient(right, $color_7, $color_5);
                background: -moz-linear-gradient(right, $color_7, $color_5);
                background: linear-gradient(to right, $color_7, $color_5);
                height: 30px;
                width: 30px;
                @include display-flex();
                @include justify-content(center);
                @include align-items(center);
                @media (min-width: 768px) {
                    height: 49px;
                    width: 49px;
                }
                @media (min-width: 992px) {
                    right: 77px;
                }
                i {
                    color: #fff;
                    font-size: 16px;
                    @media (min-width: 768px) {
                        font-size: 26px;
                    }
                }
            }
            .logo-app-single-post {
                margin-bottom: 22px;
                min-height: 30px;
                max-height: 73px;
                @media (min-width: 768px) {
                    margin-bottom: 40px;
                    min-height: 100%;
                    max-height: 100%;
                    height: 123px;
                }
                img {
                    width: 100%;
                    height: auto;
                    max-width: 73px;
                    @media (min-width: 768px) {
                        max-width: 123px;
                    }
                }
            }
            .container-date-title-thumbnail {
                .date-title-post {
                    .post-date {
                        p {
                            color: $color_5;
                            font-weight: 700;
                            font-size: 13px;
                            margin-bottom: 0;
                            @media (min-width: 768px) {
                                font-size: 15px;
                                letter-spacing: -0.1px;
                            }
                        }
                    }
                    h1 {
                        color: $color_6;
                        font-size: 24px;
                        line-height: 30px;
                        font-weight: 300;
                        margin-top: 3px;
                        margin-bottom: 10px;
                        letter-spacing: -0.3px;
                        @media (min-width: 768px) {
                            font-size: 48px;
                            line-height: 1.13;
                            letter-spacing: -0.75px;
                            margin-top: 4px;
                            margin-bottom: 30px;
                        }
                        @media (min-width: 992px) {
                            font-size: 54px;
                            letter-spacing: -0.4px;
                            max-width: 624px;
                            margin-top: 7px;
                        }
                    }
                }
                .post-thumbnail {
                    @media (min-width: 992px) {
                        padding-left: 20px;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .post-content {
                margin-top: 15px;
                margin-bottom: 39px;
                @media (min-width: 768px) {
                    margin-top: 30px;
                    margin-bottom: 59px;
                }
                @media (min-width: 992px) {
                    margin-top: 33px;
                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                    column-count: 2;
                    -webkit-column-gap: 70px;
                    -moz-column-gap: 70px;
                    column-gap: 70px;
                }
                img+p {
                    margin-top: 32px;
                    @media (min-width: 768px) {
                        margin-top: 49px;
                    }
                    @media (min-width: 992px) {
                        margin-top: 52px;
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                }
                p {
                    font-size: 15px;
                    font-weight: 300;
                    color: $color_7;
                    line-height: 1.4;
                    letter-spacing: -0.44px;
                    @media (min-width: 768px) {
                        line-height: 1.48;
                        letter-spacing: 0px;
                        font-size: 17px;
                    }
                    @media (min-width: 992px) {
                        max-width: 624px;
                    }
                }
            }
            .container-prev-next-post {
                margin-bottom: 45px;
                @media (min-width: 768px) {
                    margin-bottom: 71px;
                }
                a {
                    @include display-flex();
                    @include align-items(center);
                    color: $color_7;
                    font-weight: 800;
                    text-decoration: none;
                    @media (min-width: 768px) {
                        font-size: 18px;
                    }
                    &.previous-link-post {
                        @media (min-width: 992px) {
                            @include display-flex();
                            @include justify-content(flex-start);
                        }
                    }
                    &.next-link-post {
                        @media (min-width: 992px) {
                            @include display-flex();
                            @include justify-content(flex-end);
                        }
                    }
                    &:hover {
                        text-decoration: none;
                    }
                    img {
                        max-width: 20px;
                        height: auto;
                        width: 100%;
                        margin-right: 15px;
                        @media (min-width: 768px) {
                            max-width: 23px;
                            margin-right: 13px;
                        }
                    }
                }
            }
        }
    }
}