body {
    #page-wrap {
        .container-fluid {
            max-width: $max_width;
            margin: auto;
        }
        .the-content {
            padding: 0px 5px;
            @media (min-width: 768px) {
                padding: 0px 25px;
            }
            @media (min-width: 992px) {
                padding: 0px 85px;
            }
        }
        #content-wrap {
            padding-top: 78px;
            @media(min-width: 768px) {
                padding-top: 105px;
            }
            @media(min-width: 992px) {
                padding-top: 158px;
            }
        }
    }
}