.thank-you {
    font-family: 'Open Sans', sans-serif;
    div.logo-apply4 {
        height: 65px;
        width: 285px;
        background-image: url('../images/logo-apply4-thank-you.png');
        background-repeat: no-repeat;
        display: inline-block;
    }
    .the-content {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 40px;
        @media (min-width: 768px) {
            padding-left: 30px;
            padding-right: 30px;
            margin-top: 119px;
        }
        @media (min-width: 992px) {
            padding-left: 70px;
            padding-right: 70px;
        }
        h2 {
            font-family: 'Open Sans', sans-serif;
            color: $color_10;
            margin-top: 10px;
            font-size: 35px;
            font-weight: 300;
            letter-spacing: -0.8px;
            line-height: 1.15;
            @media (min-width: 768px) {
                font-size: 60px;
                line-height: 1.1;
                margin-top: 14px;
                letter-spacing: -0.7px;
            }
            @media (min-width: 992px) {
                font-size: 68px;
                margin-top: 7px;
                letter-spacing: -0.5px;
            }
        }
        p {
            font-size: 21px;
            font-weight: 300;
            color: $color_11;
            line-height: 1.4;
            letter-spacing: -0.44px;
            margin-top: 22px;
            @media (min-width: 768px) {
                line-height: 1.48;
                letter-spacing: 0.13px;
            }
        }
    }
}