@import 'colors';
body.login {
    background-color: rgba(165, 165, 165, 0.8);
    background-image: url('../images/background-login.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    #login {
        h1 {
            a {
                background-image: url('../images/logo-apply4.png');
                height: 70px;
                background-size: contain;
                width: 70%;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        #loginform {
            #wp-submit {
                background: $color_1;
                border-color: $color_2;
                box-shadow: 0 1px 0 $color_2;
                text-shadow: 0 -1px 1px $color_2, 1px 0 1px $color_2, 0 1px 1px $color_2, -1px 0 1px $color_2;
                &:hover {
                    background: $color_3;
                    border-color: $color_4;
                    box-shadow: 0 1px 0 $color_4;
                    text-shadow: 0 -1px 1px $color_4, 1px 0 1px $color_4, 0 1px 1px $color_4, -1px 0 1px $color_4;
                }
            }
            box-shadow: 0 1px 3px rgba(0,
            0,
            0,
            .5);
        }
        #nav {
            a {
                color: $color_1;
                &:hover {
                    color: $color_3;
                }
            }
        }
        #backtoblog {
            a {
                color: $color_1;
                &:hover {
                    color: $color_3;
                }
            }
        }
    }
}