@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');
$blue-cl:#1099c4;
$hero-letter: #7c8b99;
$description-letter: #586a7d;
$request_btn: #294059;
$boder-box: #f0f1f3;
body.single-apps {
    #page-wrap {
        header {
            //height: 65px;
            .header-logo {
                .custom-logo-link {
                    display: none;
                }
                .logo-white-box {
                    display: block;
                }
            }
        }
        #content-wrap {
            padding: 0px;
            @media(min-width: 768px) {
                padding: 0px;
            }
            .hero-image {
                .image-box {
                    height: 187px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    @media (min-width: 768px) {
                        height: 348px;
                    }
                    @media (min-width: 992px) {
                        height: 388px;
                    }
                }
            }
            .container-fluid {
                //content-wrap
                .the-content {
                    .app-logo {
                        margin-top: -60px;
                        @media(min-width: 768px) {
                            margin-top: -104px;
                        }
                        img {
                            position: relative;
                            display: block;
                            height: auto;
                            width: 79px;
                            @media(min-width: 768px) {
                                width: 140px;
                            }
                        }
                    }
                    .app-wrap {
                        padding-top: 12px;
                        padding-bottom: 40px;
                        @media(min-width: 768px) {
                            padding-top: 28px;
                            padding-bottom: 53px;
                        }
                        @media(min-width: 992px) {
                            padding-top: 44px;
                            padding-bottom: 76px;
                        }
                        @include display-flex();
                        @include justify-content(flex-start);
                        @include align-items(flex-start);
                        @include flex-wrap(wrap);
                        .appContent-col {
                            flex: 1 0 100%;
                            @media(min-width: 992px) {
                                flex: 1 0 65%;
                            }
                            .info-wrap {
                                @media(min-width: 992px) {
                                    max-width: 635px;
                                }
                                h2 {
                                    margin-top: 8px;
                                    margin-bottom: 0px;
                                    font-size: 24px;
                                    font-weight: 300;
                                    letter-spacing: 0px;
                                    line-height: 29px;
                                    @media(min-width: 768px) {
                                        margin-top: 16px;
                                        font-size: 47px;
                                        line-height: 53px;
                                    }
                                    @media(min-width: 992px) {
                                        margin-top: 10px;
                                        font-size: 53px;
                                        letter-spacing: 0px;
                                        line-height: 60px;
                                    }
                                    color: $hero-letter;
                                }
                                .description {
                                    color: $description-letter;
                                    padding-top: 11px;
                                    font-size: 14px;
                                    font-weight: 300;
                                    letter-spacing: 0px;
                                    line-height: 20px;
                                    @media(min-width: 768px) {
                                        padding-top: 47px;
                                        font-size: 17px;
                                        line-height: 25px;
                                    }
                                    @media(min-width: 992px) {
                                        padding-top: 45px;
                                        font-size: 16px;
                                        letter-spacing: 1px;
                                        line-height: 25px;
                                    }
                                    p {
                                        margin: 0px;
                                    }
                                    p+p {
                                        margin-top: 13px;
                                        @media(min-width: 768px) {
                                            margin-top: 11px;
                                        }
                                    }
                                }
                            }
                        }
                        .benefitsFeatures-col {
                            flex: 1 0 100%;
                            padding-top: 38px;
                            @media(min-width: 992px) {
                                padding-top: 20px;
                                flex: 1 0 35%;
                            }
                            .feature-container {
                                border: solid 2px $boder-box;
                                padding: 32px 22px;
                                @media(min-width: 768px) {
                                    padding: 35px 30px;
                                }
                                @media(min-width: 992px) {
                                    padding: 32px 32px;
                                    max-width: 386px;
                                }
                                .feature-container-items {
                                    .feature-item+.feature-item {
                                        padding-top: 31px;
                                        @media(min-width: 768px) {
                                            padding-top: 0px;
                                        }
                                        @media(min-width: 992px) {
                                            padding-top: 25px;
                                        }
                                    }
                                    .feature-item {
                                        h3 {
                                            font-size: 16px;
                                            margin: 0px;
                                            font-weight: 600;
                                            @media(min-width: 768px) {
                                                font-size: 22px;
                                                letter-spacing: 1px;
                                            }
                                            @media(min-width: 992px) {
                                                font-size: 24px;
                                                letter-spacing: 0px;
                                            }
                                        }
                                        ul.feature-content {
                                            padding-left: 0px;
                                            list-style: none;
                                            text-indent: -17px;
                                            margin-left: 17px;
                                            @media (min-width: 1200px) {
                                                text-indent: -13px;
                                                margin-left: 13px;
                                            }
                                            li {
                                                padding-top: 7px;
                                                font-weight: 300;
                                                line-height: 15px;
                                                font-size: 13px;
                                                color: #7c8999;
                                                @media(min-width: 768px) {
                                                    padding-top: 7px;
                                                    line-height: 18px;
                                                    font-size: 14px;
                                                }
                                                @media(min-width: 992px) {
                                                    padding-top: 5px;
                                                    font-weight: 300;
                                                    line-height: 20px;
                                                    font-size: 14px;
                                                }
                                                &:before {
                                                    content: "•";
                                                    font-size: 12px;
                                                    //padding-top: 5px;
                                                    padding-right: 9px;
                                                    @media(min-width: 992px) {
                                                        padding-right: 5px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .request_btn.apply_btn {
                                    background-color: $request_btn;
                                    color: white;
                                    display: block;
                                    position: relative;
                                    padding: 10px 10px;
                                    max-width: 175px;
                                    letter-spacing: 1px;
                                    text-align: center;
                                    margin-top: 44px;
                                    font-size: 15px;
                                    font-weight: 600;
                                    text-decoration: none;
                                    @media(min-width: 992px) {
                                        font-size: 17px;
                                        margin-top: 36px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}