$AppPage_titleColor: #0ea0a5;
body.page-template-template-apps {
    #page-wrap {
        #content-wrap {
            .container-fluid {
                .the-content {
                    .pageContent-wrap {
                        // is row
                        h1 {
                            font-size: 22px;
                            letter-spacing: -1px;
                            font-weight: 400;
                            margin-top: 0px;
                            margin-bottom: 5px;
                            color: $AppPage_titleColor;
                            @media(min-width: 768px) {
                                margin: 0px;
                                font-size: 32px;
                                //margin-bottom: 7px;
                            }
                            @media(min-width: 992px) {
                                font-size: 36px;
                                font-weight: 500;
                                letter-spacing: 0px;
                                margin-bottom: 7px;
                            }
                        }
                        .description-col {
                            @media(min-width: 768px) {
                                padding-top: 10px;
                            }
                            @media(min-width: 992px) {
                                padding-top: 0px;
                            }
                            h2 {
                                margin: 0px;
                                font-size: 24px;
                                font-weight: 300;
                                letter-spacing: 0px;
                                line-height: 30px;
                                color: $hero-letter;
                                @media(min-width: 768px) {
                                    font-size: 47px;
                                    line-height: 56px;
                                }
                                @media(min-width: 992px) {
                                    font-size: 52px;
                                    line-height: 60px;
                                }
                            }
                            .description {
                                font-size: 15px;
                                font-weight: 300;
                                letter-spacing: 0px;
                                line-height: 21px;
                                padding-top: 4px;
                                @media(min-width: 768px) {
                                    padding-top: 7px;
                                    font-size: 17px;
                                    font-weight: 300;
                                    letter-spacing: 0px;
                                    line-height: 26px;
                                }
                                @media(min-width: 992px) {
                                    padding-top: 13px;
                                    font-size: 16px;
                                    font-weight: 300;
                                    letter-spacing: 1px;
                                    line-height: 25px;
                                }
                                color: $description-letter;
                            }
                        }
                        .container-benefits {
                            margin-top: 28px;
                            @media (min-width: 768px) {
                                margin-top: 22px;
                            }
                            @media (min-width: 992px) {
                                margin-top: 13px;
                                @include display-flex();
                                @include justify-content(flex-end);
                            }
                            .feature-container {
                                border: solid 2px $boder-box;
                                padding: 32px 22px;
                                @media(min-width: 768px) {
                                    padding: 35px 30px 30px;
                                }
                                @media(min-width: 992px) {
                                    padding: 32px 50px 28px 32px;
                                    max-width: 386px;
                                }
                                .feature-container-items {
                                    .feature-item+.feature-item {
                                        padding-top: 31px;
                                        @media(min-width: 768px) {
                                            padding-top: 0px;
                                        }
                                        @media(min-width: 992px) {
                                            padding-top: 25px;
                                        }
                                    }
                                    .feature-item {
                                        h3 {
                                            color: #0ea0a5;
                                            font-size: 16px;
                                            margin: 0px;
                                            font-weight: 600;
                                            @media(min-width: 768px) {
                                                font-size: 22px;
                                                letter-spacing: 1px;
                                            }
                                            @media(min-width: 992px) {
                                                font-size: 24px;
                                                letter-spacing: 0px;
                                            }
                                        }
                                        ul.feature-content {
                                            padding-left: 0px;
                                            list-style: none;
                                            text-indent: -17px;
                                            margin-left: 17px;
                                            @media (min-width: 1200px) {
                                                text-indent: -13px;
                                                margin-left: 13px;
                                            }
                                            li {
                                                padding-top: 7px;
                                                font-weight: 300;
                                                line-height: 15px;
                                                font-size: 13px;
                                                color: $color_7;
                                                @media(min-width: 768px) {
                                                    padding-top: 7px;
                                                    line-height: 18px;
                                                    font-size: 14px;
                                                }
                                                @media(min-width: 992px) {
                                                    padding-top: 5px;
                                                    font-weight: 300;
                                                    line-height: 20px;
                                                    font-size: 14px;
                                                }
                                                &:before {
                                                    content: "•";
                                                    font-size: 12px;
                                                    //padding-top: 5px;
                                                    padding-right: 9px;
                                                    @media(min-width: 992px) {
                                                        padding-right: 5px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .request_btn.apply_btn {
                                    background-color: $request_btn;
                                    color: white;
                                    display: block;
                                    position: relative;
                                    padding: 8px 0px;
                                    max-width: 142px;
                                    letter-spacing: 1px;
                                    text-align: center;
                                    margin-top: 14px;
                                    font-size: 13px;
                                    font-weight: 600;
                                    text-decoration: none;
                                    @media (min-width: 768px) {
                                        margin-top: 24px;
                                        max-width: 174px;
                                        padding: 9px 0px;
                                        font-size: 17px;
                                    }
                                    @media(min-width: 992px) {
                                        font-size: 17px;
                                        margin-top: 34px;
                                        max-width: 175px;
                                    }
                                }
                            }
                        }
                    }
                    $marginApp_logo: 20px;
                    .logoApps-wrap {
                        @include display-flex();
                        @include justify-content(flex-start);
                        @include flex-wrap(wrap);
                        padding: 34px 0px 18px 0px;
                        margin-right: -$marginApp_logo;
                        margin-left: -$marginApp_logo;
                        @media(min-width: 768px) {
                            padding: 49px 0px 26px 0px;
                            margin-right: 0px;
                            margin-left: 0px
                        }
                        @media(min-width: 1200px) {
                            padding: 48px 0px 21px 0px;
                            margin-right: -45px;
                            margin-left: -45px;
                            @include justify-content(space-between);
                        }
                        .app-logoBox {
                            flex: 1 0 50%;
                            max-width: 50%;
                            padding: 0px $marginApp_logo 25px $marginApp_logo;
                            @media(min-width: 768px) {
                                flex: 1 0 33%;
                                max-width: 33%;
                                padding: 0px 82px 30px 0px;
                            }
                            @media (min-width: 1200px) {
                                flex: 1 0 20%;
                                max-width: 20%;
                                padding: 0px 45px 50px 45px;
                            }
                            .app-logo {
                                position: relative;
                                img {
                                    position: relative;
                                    display: block;
                                    width: 100%;
                                    height: auto;
                                    margin: auto;
                                }
                                .app-logo-img {
                                    position: relative;
                                    .overlay {
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        height: 100%;
                                        width: 100%;
                                        border-radius: 15px;
                                        opacity: 0;
                                        transition: .5s ease;
                                        background: $color_7;
                                        background: -webkit-linear-gradient(left, $color_7, $color_5);
                                        background: -o-linear-gradient(right, $color_7, $color_5);
                                        background: -moz-linear-gradient(right, $color_7, $color_5);
                                        background: linear-gradient(to right, $color_7, $color_5);
                                        @include display-flex();
                                        @include justify-content(center);
                                        @include align-items (center);
                                        img {
                                            position: relative;
                                            max-width: 40px;
                                        }
                                    }
                                    &:hover {
                                        .overlay {
                                            cursor: pointer;
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                            .desc-app-logoBox {
                                margin-top: 22px;
                                p {
                                    color: $color_7;
                                    font-size: 12px;
                                    line-height: 18px;
                                    @media (min-width: 768px) {
                                        font-size: 14px;
                                        line-height: 21px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}